.container2 {
    width: 100% ;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.key{
    list-style-type: none;
    border: 1px solid gainsboro;
    height: 22px;
    width: 22px;
    text-align: center ;
    cursor: pointer;
    padding: 5px;
    color: azure;
    font-family: "Roboto";
    font-size: 18px;
    border-radius: 5px;
}


/* / get back  flex 2  and  fix it  again  */
.key[id="24"]{
    flex: 2;
}

.key[id="27"]{
    flex: 2;
}


.keyboard {
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3px;
    column-gap: 4px;
}